	<div class="container">

		<div class="navbar-translate">
			<a class="navbar-brand" href="{{ path("home") }}" rel="tooltip" title="" data-placement="bottom">
				eMove
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		   		<span class="navbar-toggler-bar top-bar"></span>
				<span class="navbar-toggler-bar middle-bar"></span>
				<span class="navbar-toggler-bar bottom-bar"></span>
		 	</button>
		</div>

	    <div class="collapse navbar-collapse show" data-color="orange" data-nav-image="../assets/img//blurred-image-1.jpg" style="">
			<ul class="navbar-nav ml-auto">

                {% if app.user %}
                    {% if app.user.isadmin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}">
                                <p>Dashboard</p>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path("my_reservation") }}" class="nav-link">
                                <p>Mes réservations</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path("list_vehicles") }}" class="nav-link">
                                <p>Voitures</p>
                            </a>
                        </li>
                    {% endif %}

				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
						<i class="now-ui-icons design_image" aria-hidden="true"></i>
						<p>{{ app.user.username }}</p>
					</a>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ path('profil') }}">
							<i class="now-ui-icons text_align-left"></i>
							Profil
						</a>
						<a class="dropdown-item" href="{{ path('logout') }}">
							<i class="now-ui-icons business_bulb-63"></i>
							Logout
						</a>
					</div>
				</li>
                {% endif %}
			</ul>
	    </div>
	</div>
</nav>