{% extends 'base.html.twig' %}

{% block container %}

    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url( {{ asset('build/assets/img/__img/login.jpg') }} )"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="post" action="{{ path('sign_in') }}">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="{{ asset('build/assets/img/__img/now-logo.png') }}" alt="emove logo">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    {# <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus=""> #}
                                    <input type="text" name="_username" class="form-control" placeholder="{{ last_username }}">
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                    </div>
                                    <input type="password" name="_password" class="form-control" placeholder="Mot de passe">
                                    {# <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required=""> #}
                                 </div>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-primary btn-round btn-lg btn-block" type="submit">Go !</a>
                            </div>
                            <div class="pull-left">
                                <h6>
                                    <a href="#pablo" class="link footer-link">Create Account</a>
                                </h6>
                            </div>
                            <div class="pull-right">
                                <h6>
                                    <a href="#pablo" class="link footer-link">Need Help?</a>
                                </h6>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/license">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </div>

{% endblock %}


{# <form action="{{ path('sign_in') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <button type="submit">login</button>
</form> #}
