{% extends 'base.html.twig' %}

{% block container %}

    <div class="blogs-4">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Ajout </h2>

            <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('add_brand') }}" role="tablist">
                        Marque
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_classification') }}" role="tablist">
                        Gamme
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_model') }}" role="tablist">
                        Modèle
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_vehicle') }}" role="tablist">
                        véhicule
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Liste</h2>

            <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('admin_list_vehicles') }}" role="tablist">
                        Vehicules
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_list_reservations') }}" role="tablist">
                        Réservations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_list_users') }}" role="tablist">
                        Utilisateurs
                    </a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}