{% extends "base.html.twig" %}

{% block wrapper %}

<div class="blogs-4">

    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Les véhicules Disponibles</h2>
        {# <h4 class="description">Woodpecker.co is a follow-up automation SaaS founded in 2015. We’re an international team of 17, speaking 4 languages. Our mission is to enable all B2B companies to connect with their Ideal Customers.</h4> #}
    </div>

    <div class="container">
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img rounded" src=" {{ asset('build/assets/img/__img/card-blog2.jpg') }} ">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="category text-primary"><em>{{ vehicle.model.type.name }}</em> - <strong>{{ vehicle.model.classification.name }}</strong></h6>

                            <h5 class="card-title">
                                {{ vehicle.model.brand.name }} <strong>{{ vehicle.model.name }}</strong>
                            </h5>
                            <p class="card-description">
                                123 €
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <span>Mike John</span>
                                </div>
                                <div class="stats stats-right">
                                    <a href="#"><i class="now-ui-icons shopping_credit-card"></i> Réserver</a>
                                </div>
                                {# <a href="#"><i class="now-ui-icons shopping_credit-card"></i> Réserver</a> #}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>



    {# <div class="container col-offset-2 col-6">
        <h1>Liste des vehicules</h1>
        <div class="table-responsive col-12">
            <table class="table table-striped table-sm table-admin">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Modele</th>
                    <th>Numéro série</th>
                    <th>Réserver</th>
                </tr>
                </thead>
                <tbody>
                {% for vehicle in vehicles %}
                    {% if vehicle.status.id != 6 %}
                    <tr>
                        <td>{{ vehicle.id }}</td>
                        <td>{{ vehicle.model.name }}</td>
                        <td>{{ vehicle.serialnumber }}</td>
                        <td><a href="{{ path('add_reservation', {'idVehicle': vehicle.id}) }}">Reservation</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div> #}








{% endblock %}
