{{  form_start(form) }}

                {# {{ form_label(form.name) }} #}
                {{ form_widget(form.search, { 'attr': {'class': 'form-control mb-3'} }) }}
                {# {{ form_rest(form) }} #}

{{  form_end(form) }}

                {# <div class="text-center">
                    <button class="btn btn-primary btn-round btn-lg" type="submit">Lancer la recherche</a>
                </div> #}
 